{% extends 'main/base.html' %}

{% block title %}Home - Ohara{% endblock %}

{% block content %}
    <style>
        html, body {
            height: 100%;
            width: 100%%;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url('https://cdn.discordapp.com/attachments/957691738015826000/1120419187752456313/weblogo.png');
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
        }

        .top-menu .logo {
            display: none;
        }
    </style>
{% endblock %}
