{% extends 'main/base.html' %}

{% block title %}Top Shounen{% endblock %}

{% block content %}

  <style>

    html, body { 
      background-color: #181a1b;
      width:100%; 
      height:100%; 
      margin:0 
      padding:0; 
    }
      body {
        margin: 0in 0in;
        overflow-x: hidden;
      }

    h1 {
      background-color: #1f1f1f;
      color: #9affff;
      padding: 10px;
      text-align: center;
      margin: 0;
    }

    .table-container {
      background-color: #181a1b;
      padding: 10px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: center;
    }

    th {
        color: #9affff;
    }

    td {
        color: #9affff;
    }
  

    img {
      float: center;
      margin-left: 10px;
    }

    ul {
      list-style-type: disc;
    }


    li {
      margin-bottom: 5px;
    }

  </style>


</head>
<body>
  <h1>Top 100 Shounen Mangas</h1>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Manga Cover</th>
          
          <th>Title</th>
          <th>Type</th>
          <th>Chapters</th>
          <th>Status</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for manga in mangas %}
        <tr>
          <td><img src="{{ manga.main_picture }}" ></td>
          
          <td>{{ manga.title }}</td>
          <td>{{ manga.type }}</td>
          <td>{{ manga.chapters }}</td>
          <td>{{ manga.status }}</td>
          <td>{{ manga.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock %}